.currency-detail,
.curr-detail-card,
.curr-detail-header,
.curr-detail-footer {
  display: flex;
}

.curr-detail-card *,
.currency-info * {
  color: white;
}

.currency-detail,
.curr-detail-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currency-detail {
  background: var(--color-exterior);
  padding-top: 2%;
}

.curr-detail-card {
  gap: 24px;
  width: 90%;
  padding: 24px;
}

.curr-detail-header,
.curr-detail-footer {
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.curr-detail-header h2 {
  font-size: 2.4rem;
  font-weight: 900;
}

.currency-icon-detail {
  width: 128px;
  height: 128px;
}

.curr-detail-footer h3 {
  font-size: 2rem;
  font-weight: 600;
}

.curr-detail-card {
  background-color: rgba(34, 53, 90, 0.9);
}

.currency-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 90%;
  padding: 24px;
  background: var(--gradient-rad);
}

.currency-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
}

.currency-info ul li {
  padding: 24px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  font-family: var(--font-gill);
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.li-typeA {
  background: var(--color-cardone);
}
